In [9]:
import pandas as pd  
import json

In [10]:
df = pd.DataFrame()

In [11]:
start = 1
num = 10000

In [12]:
f = open('./dev.jsonl',encoding='utf-8')
lines = f.readlines()

In [13]:
if(len(lines)<num):
    num = len(lines)

In [14]:
jsonArray = []
for rowNumber in range(start-1,start-1+num):
    item = json.loads(lines[rowNumber])
    array = []
    for e in item['annotations']:
        if(e['short_answers'] != [] and e['short_answers'][0]['start_token'] != -1 and e['short_answers'][0]['end_token'] != -1):
            for token in e['short_answers']:
                stringArr = []
                for i in range(token['start_token'],token['end_token']):
                    stringArr.append(item['document_tokens'][i]['token'])
                array.append(" ".join(stringArr))
    # Remove Duplicates
    array = list(set(array))
    newItem = {
        "document_title":item['document_title'],
        'question_text':item['question_text'],
        'yes_no_answer':list(map(lambda x: x['yes_no_answer'],item['annotations']))
    }
    for no in range(0,len(array)):
        newItem[f'short_answer{no+1}']= array[no]
    df2 = pd.DataFrame([newItem])
    df = pd.concat([df, df2])
    # print(newItem)

In [15]:
# df

In [16]:
df.to_csv(f'file{start}-{start+num-1}.csv')

In [17]:
df.columns

Index(['document_title', 'question_text', 'yes_no_answer', 'short_answer1',
       'short_answer2', 'short_answer3', 'short_answer4', 'short_answer5',
       'short_answer6', 'short_answer7', 'short_answer8', 'short_answer9',
       'short_answer10', 'short_answer11', 'short_answer12', 'short_answer13',
       'short_answer14', 'short_answer15', 'short_answer16', 'short_answer17',
       'short_answer18', 'short_answer19', 'short_answer20', 'short_answer21',
       'short_answer22', 'short_answer23'],
      dtype='object')

In [18]:
df.head()

,document_title,question_text,yes_no_answer,short_answer1,short_answer2,short_answer3,short_answer4,short_answer5,short_answer6,short_answer7,...,short_answer14,short_answer15,short_answer16,short_answer17,short_answer18,short_answer19,short_answer20,short_answer21,short_answer22,short_answer23
0,Therefore sign,what do the 3 dots mean in math,"[NONE, NONE, NONE, NONE, NONE]",therefore sign,"a logical consequence , such as the conclusion...",the therefore sign,the therefore sign ( ∴ ) is generally used bef...,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,Watchman (law enforcement),when was the writ watch invented by who,"[NONE, NONE, NONE, NONE, NONE]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,Photograph (Ringo Starr song),who wrote the song photograph by ringo starr,"[NONE, NONE, NONE, NONE, NONE]",George Harrison,Richard Starkey,Ringo Starr,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,Super Bowl 50 halftime show,who is playing the halftime show at super bowl...,"[NONE, NONE, NONE, NONE, NONE]",Beyoncé,Bruno Mars,Coldplay,Coldplay with special guest performers Beyoncé...,British rock group Coldplay with special guest...,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,Matt Lanter,star wars the clone wars anakin voice actor,"[NONE, NONE, NONE, NONE, NONE]",Matthew MacKendree `` Matt '' Lanter,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN